# Packages listed here aren't strict dependencies of eider, but are needed to
# run the tests.

aiohttp>=2.3.10
flake8
msgpack>=0.5.2
pytest>=3
pytest-cov

# websockets 8.0 drops Python 3.4 & 3.5 support
websockets>=7,<8

# yarl 1.2 drops Python 3.4 support
yarl>=1.1,<1.2
